/* HERO SECTION */
.hero-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 63vh;
}

.hero-header__box {
  padding-top: 5rem;
  position: relative;
}

.hero-header__box {
  width: 22rem;
  text-align: left;
  margin-bottom: 14rem;
  margin-top: 1rem;
  position: relative;
}

.hero-header {
  background-color: #fff0ed;
  text-align: center;
}

.hero-header__title {
  margin: 0;
}

.hero-header__link,
.our-products__link,
.different__learn-link {
  text-decoration: none;
}

.hero-header__button {
  z-index: 0;
}

.hero-header__button,
.our-products__button,
.discount__learn-button {
  background-color: #5bacc3;
  color: white;
  border: none;
  width: 12.25rem;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.hero-header-offset,
.different-learn-offset,
.our-products-offset {
  outline: 0.125rem solid #393939;
  z-index: 1;
  position: absolute;
}

.hero-header-offset {
  width: 12.0625rem;
  height: 3.5rem;
  top: 16.5625rem;
  right: 10.25rem;
}

.hero-header__button:hover,
.our-products__button:hover,
.discount__learn-button:hover {
  background-color: #393939;
  color: #f7f7f7;
}

.hero-header__img {
  width: 100%;
}

/* OUR PRODUCTS */

.our-products {
  text-align: center;
  background-color: #f7f7f7;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.our-products__title {
  padding-top: 5rem;
  margin-top: 0;
}

.our-products-container {
  display: flex;
  justify-content: space-evenly;
}

.our-products-card {
  width: 20.625rem;
  height: 25.5rem;
  padding: 0;
  margin: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.3125rem 0.5625rem -0.0625rem rgb(0, 0, 0, 0.25);
  background-color: white;
}

.our-products-card__img {
  margin-top: 2rem;
}

.our-products-card-desc {
  background-color: #fff0ed;
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.our-products-card-desc__txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.our-products__item,
.our-products__qty {
  margin: 0;
}

.our-products__qty {
  color: #909090;
}

.our-products__price {
  font-size: 2rem;
  font-weight: bold;
}

.our-products-offset {
  width: 12.0625rem;
  height: 3.5rem;
  bottom: 3.125rem;
  right: 34.4375rem;
}

.our-products__title,
.our-products__link {
  text-align: center;
}

.our-products__button {
  margin: 3rem 0;
}

/* WE'RE DIFFERENT */

.different {
  display: flex;
  justify-content: space-around;
  padding-top: 7rem;
  position: relative;
}

.different-text-container {
  width: 36%;
  position: relative;
}

.different-img-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.different__img {
  width: 11%;
  padding: 1rem 1rem 1rem 1rem;
}

.different-learn-offset {
  width: 10.0625rem;
  padding: 1rem;
  margin: 1.25rem;
  height: 1.4375rem;
  right: 15.75rem;
  top: 20.1875rem;
}

.different-background-offset {
  padding: 1.25rem;
  margin: 1.25rem;
  border: 0.3125rem solid #5bacc3;
  position: absolute;
  height: 32vh;
  width: 20.875rem;
  right: 7.25rem;
  bottom: 1.25rem;
}

.different__can-and-background {
  background-image: url(../assets/images/coldbrewbackground.png);
  width: 29%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 1rem 1rem;
  background-size: 29.687rem;
}

/* DISCOUNT */
.discount {
  background-color: white;
  text-align: center;
  height: 20%;
}

.discount__invite {
  background-color: #393939;
  color: white;
  font-size: 2.8125rem;
  font-weight: 400;
  display: inline-block;
  padding: 2.5rem;
  margin: 15rem 3rem;
}

.discount__code {
  font-weight: 700;
}

/* FOOTER */
.footer {
  background-color: #fff0ed;
  text-align: center;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.footer__coffee-bg {
  position: absolute;
  opacity: 25%;
  width: 7.5rem;
  right: -2.3125rem;
  top: 10.5rem;
}
.footer__coffee-bg--secondary {
  left: -2.3125rem;
  top: 3.75rem;
}

.footer-hours__day {
  font-weight: 700;
}

.footer-address,
.footer-hours,
.footer-social {
  text-align: left;
  margin: 5rem;
}

.footer-social__link {
  text-decoration: none;
}
