body {
  font-family: "Open Sans";
  font-weight: 400;
}

h1,
h2 {
  font-size: 3.75rem;
  font-weight: 300;
}

.icon {
  width: 3.125rem;
}

h3,
.navHeading,
.navbar {
  font-size: 2.0625rem;
  font-weight: 300;
}

.navbar {
  background-color: #fff0ed;
  text-align: left;
}

.navbar a,
li {
  display: inline-block;
}

.nav-link {
  font-size: 1.3125rem;
  font-weight: 400;
  text-decoration: none;
  padding: 1rem;
  color: black;
}

.navHeading {
  text-decoration: none;
  color: black;
}

nav {
  display: inline-block;
}

.shop-now {
  text-decoration: none;
  color: #5bacc3;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

.price {
  color: #5bacc3;
}
