nav,
.header {
  background-color: #fff0ed;
}

button {
  background-color: #5bacc3;
  color: white;
  border: none;
  width: 11.25rem;
  padding: 1.25rem;
}

button:hover {
  background-color: #393939;
  color: #f7f7f7;
}

/* card */

#ourProducts {
  text-align: center;
}

.card {
  display: inline-block;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem 5rem;
  box-shadow: 4px 5px 33px grey;
  margin: 2rem;
}

#ourProducts > a,
h2 {
  display: block;
  text-align: left;
}

/* DISCOUNT */
#discount {
  background-color: #393939;
  color: white;
  text-align: center;
}

.discount {
  font-size: 2.8125rem;
  font-weight: 400;
  margin: 0;
}

.code {
  font-weight: 700;
}

/* FOOTER */
footer {
  background-color: #fff0ed;
}

.day {
  font-weight: 700;
}
