/* HEADER + NAVBAR */

.bookmark {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.bookmark:hover {
  color: #fff0ed;
}

.menu {
  background-image: url(../assets/coffee-circle.jpg);
  width: 100%;
  height: 43.75rem;
  background-position: center;
  background-size: cover;
}

.menuTitle {
  width: 18.75rem;
  height: 12.5rem;
  background-color: #393939;
  color: white;
  font-size: 3.75rem;
  font-weight: 300;
  text-align: center;
  display: inline-block;
}

.items {
  background-color: #393939;
  color: white;
  text-align: center;
}

.items li {
  display: inline-block;
}

.items ul {
  margin-bottom: 0;
}

.bookmark {
  display: inline-block;
  margin: 1rem;
  padding-left: 1rem;
  border-left: 5px solid #5bacc3;
}

#hotDrinks {
  background-color: #fff0ed;
}

h2 {
  margin-top: 0;
}

#coldDrinks {
  background-color: #f7f7f7;
}

#pastries {
  background-color: #fff0ed;
}

.price {
  margin-bottom: 0;
}

.description {
  width: 25%;
  position: relative;
  left: 37%;
}

section {
  text-align: center;
}

.nav-link {
  display: inline-block;
}
